<h1>ARTISTS</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
      <% artists.forEach(function(artist) { %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.genre %></td>
          <td>
            <form action="/<%= artist._id %>" method="post">
              <input type="submit" value="remove">
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>