<!doctype html>
<html>
  <head>
    <title><%= title %> | Add an Artist</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <h1>ADD AN ARTIST</h1>
    <form action='/artist/add' method='post'>
      Name: <input name='name' placeholder='Jimi Bolton'>
      Genre: <input name='genre' placeholder='Smooth Metal'>
      <input type='submit'>
    </form>
  </body>
</html>