<!doctype html>
<html>
  <head>
    <title><%= title %> | Welcome Traveler</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <% include newartist.ejs %>
    <% include artistlist.ejs %>

    
  </body>
</html>